<div class="container-fluid mb-5">
  <h1>Bootcamp Enrollment Form</h1>
  <div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage}}
  </div>
  <!-- Binding data with ngForm -->
  <!-- Whenever we add a form element in theHTML, angular automatically attaches the ngForm directive to the form tag.
  We can get a reference to that ngForm directive with a help of template reference variables. -->
  <form #userForm="ngForm" *ngIf="!submitted" novalidate (ngSubmit)="onSubmit()">
    <!-- novalidate will prevent browser validation from kicking in when we click on the submit button -->
    <!-- ngForm has properties, provides the overall form validation.This can be used to disable the submit button and tell form is invalid -->
    {{userForm.form.valid}}

    <!-- ngForm directive exports itself as a string ngForm and assigning it to reference variable, we have a reference to a directive itself. -->
    <!-- ngForm directive gives us access to values of form control. -->
    {{userForm.value |json}}
    <!-- NgModel directive is used to let Angular knows which of the form controls need to be tracked -->
    <!-- name attribute is necessary for each of the form control for  ngModel to work -->
    <!-- ngModelGroup directive is used to create a subgroup within a form -->
    <!-- For data binding in template driven forms, we have 3 directives, ngForm, ngModel, ngModelGroup. -->
    <!-- And we can send these bound data to the server using userForm.value -->
    <!-- <div ngModelGroup="address">
      <div class="form-group">
        <label>Street</label>
        <input type="text" class="form-control" name="street" ngModel>
      </div>
      <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" name="city" ngModel>
      </div>
      <div class="form-group">
        <label>State</label>
        <input type="text" class="form-control" name="state" ngModel>
      </div>
      <div class="form-group">
        <label>Postal code</label>
        <input type="text" class="form-control" name="postalCode" ngModel>
      </div>
    </div> -->
    <!-- Binding data to a model -->
    <hr />
    {{userModel|json}}
    <!-- Binding userModel to the form, - bind the properties of teh model to the ngModel directive -->
    <!-- With property binding- one way binding from class to view, all the form control values are prefilled by the data set by the userModel -->
    <!-- two way binding can be acheived using [(ngModel)] -->

    <!-- Track control state and validity -->
    <!-- //State                   //class if true    //class if false
    The control has been visited  ng-touched   ng-untouched 
    The controls value has changed  ng-dirty    ng-pristine 
    The controls value is valid      ng-valid    ng-invalid  -->
    <!-- At any point of time Angular applies 3 classes to a form control -->
    <!-- ngModel properties- untouched, touched, pristine, dirty, valid, invalid. -->
    <!-- #name- template reference variable points to the input element in the DOM. -->
    <!-- #name="ngModel" - reference to ngModel itself to access ngmodel properties - return boolean values-->

    <!-- Validation with visual feedback -->
    <!-- can use the validation classes that bootstrap 4 provides, for eg, is-invalid -->
    <!-- make sure class is applied only when the form control is invalid. for that make use of ngModel properties coupled with class binding. -->
    <div class="form-group">
      <label>Name</label>
      <input #name="ngModel" required type="text" [class.is-invalid]="name.invalid && name.touched" class="form-control"
        name="username" [(ngModel)]="userModel.name">
      <!-- Displaying error messages -->
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
      <!-- d-none is bootstrap 4 validation class -->
    </div>
    <!-- {{name.className}} -->
    {{name.untouched}}
    {{name.pristine}}

    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="userModel.email">
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input type="tel" required #phone="ngModel" pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched"
        class="form-control" name="phone" [(ngModel)]="userModel.phone">
      <!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number is required and must be 10
        digits</small> -->
      <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
        <!-- Dispaly the error message if required validation happens -->
        <small class="text-danger" *ngIf="phone.errors.required">Phone number is required</small>
        <!-- Display the error message if pattern validation happens -->
        <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digits</small>
      </div>
    </div>
    <div>
      <!-- select control validation -->
      <!-- topic is template reference variable and we access the value property -->
      <!-- remove required attribute -->
      <select (blur)="validateTopic(topic.value) " (change)="validateTopic(topic.value)" #topic="ngModel"
        [class.is-invalid]="topicHasError && topic.touched" class="custom-select" name="topic"
        [(ngModel)]="userModel.topic">
        <!-- the [class.is-invalid]="topic.invalid && topic.touched" changed to [class.is-invalid]="topicHasError && topic.touched" -->
        <!-- This works only when the value is set to empty for the corresponding text. option has a value of empty string
        and that is passed in the the model.
        If the dropdown options are populated from the api instead of harcoded array, for default option value is set to
        default and not empty string. -->
        <!-- <option value="">I am interested in</option> -->
        <!-- The validation fails for default, it works only for empty string, so we need custom validation -->
        <option value="default">I am interested in</option>
        <!-- We are going to listen to the blur and change events on the select control.use error flag set to true/false if the value is default.
        Use that error flag to conditionally apply classes and display the error message. -->

        <option *ngFor="let topic of topics">{{topic}}</option>
      </select>
      <small class="text-danger" [class.d-none]="!topicHasError ||topic.untouched">Please choose a topic</small>
    </div>
    <div>
      <label>Time preference</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timePreference" value="morning"
          [(ngModel)]="userModel.timePreference">
        <label class="form-check-label">Morning (9AM-12PM)</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timePreference" value="evening"
          [(ngModel)]="userModel.timePreference">
        <label class="form-check-label">Evening (5PM-8PM)</label>
      </div>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="subscribe" [(ngModel)]="userModel.subscribe">
      <label class="form-check-label">Send me promotional offers</label>
    </div>
    <!-- This works fine, when you don't have any custom validation that ngForm is not tracking.But when we have custom select validation, to handle this, 
when the submit button is clicked event is fired, you can check the value of the field and proceed submitting the form. 
Here add another condition to disabled property topicHasError. -->
    <button [disabled]="userForm.form.invalid ||topicHasError" class="btn btn-primary" type="submit">Submit</button>
  </form>


</div>